:root {
    --primary: #1888ff;
  }
  
  .contact-us-btn {
    padding: 8px 20px;
    border-radius: 4px;
    outline: none;
    border: none;
    font-size: 32px;
    color: #fff;
    cursor: pointer;
    background-color: var(--primary);
    min-width: 120px;
    margin-left: 40%;
    margin-top: 20vh;
  }
  
  .contact-us-btn:hover {
    padding: 6px 18px;
    transition: all 0.3s ease-out;
    background-color: transparent;
    color: #fff;
    border-radius: 4px;
    border: 2px solid var(--primary);
    transition: all 0.3s ease-out;
  }